# Python cache
__pycache__/
*.pyc

# OS
.DS_Store

# Données locales (ne pas versionner les réponses des participants)
data/

# Modèles lourds
model/

# Binaires
bin/

# Logs (si jamais utilisés)
logs/

# Environment files
.env
