# Virtual environments
venv/
.env

# Byte-compiled / cache
__pycache__/
*.py[cod]

# Logs
*.log

# Local data
data/conversations.txt

# Binary files
/bin/llama-cli

# Model weights
/model/*.gguf

.DS_Store
